@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a 
{
    text-decoration: none;
}

:root 
{
    --main-font-color: #094B72;
    --banner-color: #F2FCFF;
    --banner2-color:  #1282A6;
    --footer-bottom: #05546D;
    --f-font: "Playfair Display", serif;
    --s-font: "Plus Jakarta Sans", sans-serif;
}


/* own css  */

/* Navbar start */
nav 
{
    font-family: var(--s-font);
    background: #fff;
}

.navigation-wrap 
{
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 1000;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.navigation-wrap.scroll-on 
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0.125rem 1.75rem 0 rgba(0,0,0,0.09);
    transition: all 0.15s ease-in-out 0s;
}
/* Navbar End */


/* Hero Start */
.hero 
{
    background: #F9F8F9;
}
.hero-content h1
{
    font-family: var(--f-font);
    color: var(--main-font-color);
    font-weight: 700;
    font-size: 3.5rem;
}

.hero-content p 
{
    font-family: var(--s-font);
}

.hero-btn .btn-primary
{
    font-family: var(--s-font);
    color: #fff;
    background-color: var(--banner2-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

.hero-btn .btn-primary a 
{
    text-decoration: none;
    color: #fff;
}

.hero-image img 
{
    max-width: 400px;
}
/* Hero End */


/* About Start */
.about 
{
    background: var(--banner-color);
}

.about-content h2
{
    font-family: var(--f-font);
}

.card_section     
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.card 
{
    
    flex: 1;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card h4 
{
    font-family: var(--f-font);
    font-weight: 750;
}

.card p 
{
    font-family: var(--s-font);
}
/* About End */


/* countdown start */
.countdown 
{
    background: #1282A6;
}

.countdown_area 
{
    background-image: url(img/Patterns.png);
    background-size: cover;
}

.countdown-header h3
{
    font-family: var(--f-font);
    color: #fff;
    font-weight: 700;
    font-size: 2.5rem;
}

.countdown-header p 
{
    font-family: var(--s-font);
    color: #fff;
}

.countdown_content p 
{
    font-family: var(--s-font);
}

.plus h2 
{
    font-family: var(--f-font);
    color: #fff;
    font-weight: 700;
    font-size: 2.5rem;
}

.plus p 
{
    font-family: var(--s-font);
    color: #fff;
}
/* countdown End */


/* testimonial start */
.testimonials
{
    background: var(--banner-color);
}

.testy_header h2 
{
    font-family: var(--f-font);
    color: var(--main-font-color);
    font-weight: 700;
    font-size: 2.5rem;
}

.swiper-wrapper 
{
    margin-bottom: 30px;
}
/* testimonial end */


/* faq start */
.faq_content h3
{
    font-family: var(--f-font);
    color: #2D2F30;
    font-weight: 700;
    font-size: 2rem;
}

.faq_image img
{
    max-width: 300px;
    width: 100%;
}

.faq_btn .btn-primary
{
    font-family: var(--s-font);
    color: #fff;
    background-color: var(--banner2-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}
/* faq end */


/* footer start */
.footer 
{
    background: var(--banner2-color);
}

.footer_logo img 
{
    max-width: 100px;
}
/* footer end */


/* last footer start */
.last_footer 
{
    background: var(--footer-bottom);
}

.social_icon ul li a
{
    background: #1282A6;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 40px;
    transition: all 0.3s;
}

/* last footer end */